.subindice1{font-size: 200px; color: blue;vertical-align: text-top;}
.parrafo1{font-size: 75px;}
ins{color: green;}
.superindice1{ vertical-align: text-top;}
.subindice2 {font-size: 75px; color: blue;vertical-align: text-top;}