body{background-color: #d3dade;}
h2{text-decoration: underline;font-size: 40px;background-color:#7b919d;color: #415058;}
p {background-color: #b5c2c8;}
.P1{background-color: white;padding-left: 70%;}
h3{background-color: #98aab3;color: #627883;}