
.ciudad{border: none;background-color:#6b96ec;color: #cde66e;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;text-align: center;}
th{border: none;background-color:#6b96ec;color: white;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;text-align: center;}
td{background-color:#e98d64;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;text-align: center;border: solid 1px;}